<!DOCTYPE html>
<html>
<title>MySQL Tables</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">
            <form action="/">
                <button class = "w3-button w3-teal">Voltar</button>
            </form>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div>
            {% if query == 'nenhuma' or query == 'select' %}
            <div class="w3-container">
                <p>Tabela de Funcionários:</p>
                <table class="w3-table-all">
                    <thead>
                    <tr class="w3-light-grey">
                        <th>Nome</th>
                        <th>Salario</th>
                        <th>Cadastro</th>
                    </tr>
                    </thead>
                    <thead>
                    {% for p in rec2 %}
                    <tr class = "w3-light-grey">
                    <thead>
                    <th>{{p.nome}}</th>
                    <th>{{p.salario}}</th>
                    <th>{{p.cadastro}}</th>
                    </thead>
                    {% endfor %}
                    </tr>

                    </thead>
                </table>
                <p>Tabela de Pessoas:</p>
                <table class="w3-table-all">
                    <thead>
                    <tr class="w3-light-grey">
                        <th>Nome</th>
                    </tr>
                    </thead>
                    <thead>
                    {% for p in rec %}
                    <tr class = "w3-light-grey">
                    <thead>
                    <th>{{p.nome}}</th>
                    </thead>
                    {% endfor %}
                    </tr>

                    </thead>
                </table>
                <br>
            </div>
            {% endif %}
            {% if query == 'join' %}
            <div class="w3-container">
                <p>Tabela Resultado:</p>
                <table class="w3-table-all">
                    <thead>
                    <tr class="w3-light-grey">
                        <th>Nome</th>
                        <th>Salario</th>
                        <th>Cadastro</th>
                    </tr>
                    </thead>
                    <thead>
                    {% for p in rec %}
                    <tr class = "w3-light-grey">
                    <thead>
                    <th>{{p.nome}}</th>
                    <th>{{p.salario}}</th>
                    <th>{{p.cadastro}}</th>
                    </thead>
                    {% endfor %}
                    </tr>

                    </thead>
                </table>
                {% endif %}
                <br>
                <div class="w3-card-4">
                    <div class="w3-container w3-teal">
                        <h2></h2>
                    </div>
                    <form class="w3-container" method="POST">
                        <p>
                            <label class="w3-text-teal"><b>Nome</b></label>
                            <input class="w3-input w3-border w3-sand"  name="nome" value = "{{request.form.nome}}">
                        </p>
                        <p>
                            <label class="w3-text-teal"><b>Salario</b></label>
                            <input class="w3-input w3-border w3-sand" name="salario"  value = "{{request.form.salario}}">
                        <p>
                            <button formaction="/select" class="w3-btn w3-teal">SELECT</button>
                            <button formaction="/join" class="w3-btn w3-teal">JOIN</button>
                            <button formaction="/mysql" class="w3-btn w3-teal">RESET</button>
                        </p>
                    </form>
                    <img src={{url_for('static', filename = 'imagens/Diagramas.jpg')}} style="width:100%" alt="Diagrama">
                </div>
                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>Find me on social media.</p>
        <a href="https://github.com/guidio8" class="fa fa-github w3-hover-opacity"></a>
        <a href="https://www.linkedin.com/in/luccas-guidio-863497209/" class="fa fa-linkedin w3-hover-opacity"></a>
        <br>
    </footer>

</body>
</html>
